<ul class="nav justify-content-center bg-dark">
<?php foreach ($menu as $name => $link ): ?>
    <li class="nav-item">
        <a class="nav-link <?= $link == 'link-to-home' ? 'active':'' ?>" href="<?php echo $this->url->get($link)
        ?>"><?= $name
            ?></a>
    </li>

<?php endforeach; ?>
</ul>
