<p>
<h2>Dashboard ... The world of News</h2>
</p>
<?php
use Phalcon\Tag;
?>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="add-new-post col-md-4">
            <?= Tag::form([
                '/news/add',
                'method' => 'post'
            ]); ?>
            <fieldset>
                <label class="control-label" for="news_title">
                    Title
                </label>
                <div class="form-group">
                    <?= Tag::textField([
                        'news_title',
                        'size' => 45,
                        'class' => "form-control",
                    ]) ?>
                </div>

                <label class="control-label" for="news_content">
                    Your Content
                </label>
                <div class="form-group">
                    <?= Tag::textArea([
                        "news_content",
                        "rows" => 4,
                        "class" => "w-100"
                    ]) ?>
                </div>
                <?= Tag::submitButton([
                    'name' => 'submit_add_new',
                    'value' => 'Create your News',
                    'class' => 'btn btn-primary w-100'
                ]) ?>
            </fieldset>
            <?= Tag::endForm(); ?>
        </div>
        <div class="list-of-posts col-md-6">

        </div>
        <div class="col"></div>
    </div>

</div>

