<p>
<h2>Dashboard ... The world of News</h2>
</p>
<?php
use Phalcon\Tag;

?>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 text-center"><?php echo $this->flashSession->output(); ?></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8 text-center"><span class="notify"></span></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="add-new-post card card-body m-1 col-md-3">
            <?= Tag::form([
                'name' => 'add_news',
                '/news/add',
                'method' => 'post',
                "onsubmit" => "return validateform_addnews()"
            ]); ?>
            <fieldset>
                <label class="control-label" for="news_title">
                    Title <?php echo  $news_title ?>
                </label>
                <div class="form-group">
                    <?= Tag::textField([
                        'news_title',
                        'size' => 45,
                        'class' => "form-control",
                        'value' => $news_content

                    ]) ?>
                    <div id="feedback-title"></div>
                </div>

                <label class="control-label" for="news_content">
                    Your Content
                </label>
                <div class="form-group">
                    <?= Tag::textArea([
                        "news_content",
                        "rows" => 4,
                        "class" => "w-100",
                        "value" => $news_content
                    ]) ?>
                    <div id="feedback-content"></div>
                </div>
                <?= Tag::submitButton([
                    'name' => 'submit_add_new',
                    'value' => 'Create your News',
                    'class' => 'btn btn-primary w-100'
                ]) ?>
            </fieldset>
            <?= Tag::endForm(); ?>
        </div>
        <div class="list-of-posts card card-body m-1 col-md-8">
            <div>List of posts </div>
            <?php // print_r($news_listing) ?>
            <table class="table mt-2">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date Create</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($news_listing as $row): ?>
                <tr>
                    <th scope="row"><?php echo $row->id ?></th>
                    <td><?php echo $row->title ?></td>
                    <td><?php echo $row->content ?></td>
                    <td><?php echo $row->date_create ?></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <?php echo Tag::linkTo(array("/news/delete/".$row->id, 'Delete', "class" => "btn btn-danger")
                            ) ?>
                            <?php echo Tag::linkTo(array("/news/update/".$row->id, 'Edit', "class" => "btn btn-warning")
                            ) ?>
                        </div>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

</div>

