<?php use Phalcon\Tag as Tag; ?>

<?php echo Tag::form([
                "news/save",
                "name" => "update_news",
                "onsubmit" => "return validateform_update()"
            ]) ?>

<div class="btn-group row w-100 mt-5" role="group">
    <div class="col"></div>
    <div class="col text-center">
        <?php echo Tag::linkTo(array("/news/list", 'Go Back', "class" => "btn btn-muted")) ?>
        <?php echo Tag::submitButton(array("Save", "class" => "btn btn-success")) ?>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center"><?php echo $this->flashSession->output(); ?></div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center"><span class="notify"></span></div>
    <div class="col"></div>
</div>

<div class="center scaffold">
    <h2>Edit Your News</h2>
    <input type="hidden" name="id" id="id" value="<?php echo $id ?>" />

    <div class="clearfix">
        <label for="title">Title</label>
        <?php echo Tag::textField(array("title", "size" => 24, "maxlength" => 70, "class" => "w-100")) ?>
        <div id="feedback-title"></div>
    </div>

    <div class="clearfix mt-3">
        <label for="content">Content</label>
        <?php echo Tag::textArea(array("content", "rows" => 5, "class" => "w-100")) ?>
        <div id="feedback-content"></div>
    </div>

    <div class="clearfix mt-3">
        <label for="active">Status</label>
        <?php echo Tag::selectStatic(array("status", array('Y'=>'Y','N'=>'N',), "class" => "w-100 text-center")) ?>
    </div>


</div>
<?= Tag::endForm(); ?>