<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block">404</span>
            <div class="mb-4 lead">The page you are looking for was not found.</div>
            <a href="<?php echo $this->url->get('/news/list')?>" class="btn btn-link">Back To News Page</a>
        </div>
    </div>
</div>