<?php 
	use Phalcon\Tag as Tag;
	echo $this->getContent();
?>

<div class="page-header">
    <h2 class="text-center">Register for INVO</h2>
</div>

<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-4">
		<?= Tag::form([
	    	'/account/register', 
	    	'method' => 'post',
	    	'onbeforesubmit' => 'return false'
		]); ?>
		<fieldset>
			<label class="control-label" for="fullname">
				Full Name
			</label>
			<div class="form-group">
	            <?= Tag::textField([
	                    'fullname',
	                    'size' => 45,
	                    'class' => "form-control",
	            	]) ?>
	        </div>

	        <label class="control-label" for="username">
				User Name
			</label>
	        <div class="form-group">
	            <?= Tag::textField([
	                    'username',
	                    'size' => 45,
	                    'class' => "form-control",
	            	]) ?>
	        </div>

	        <label class="control-label" for="user_email">
				Email
			</label>
	        <div class="form-group">
	            <?= Tag::emailField([
	                    'user_email',
	                    'size' => 45,
	                    'class' => "form-control",
	            	]) ?>
	        </div>

	        <label class="control-label" for="user_password">
				Type your password
			</label>
	        <div class="form-group">
	            <?= Tag::passwordField([
	                    'user_password',
	                    'class' => "form-control",
	            	]) ?>
	        </div>

	        <label class="control-label" for="user_password_repeat">
				Confirm your password
			</label>
	        <div class="form-group">
	            <?= Tag::passwordField([
	                    'user_password_repeat',
	                    'class' => "form-control",
	            	]) ?>
	        </div>
	        <?= Tag::submitButton([
	        		'name' => 'submit_login', 
	        		'value' => 'Login', 
	        		'class' => 'btn btn-primary w-100'
	        	]) ?>
        
		</fieldset>
		<?= Tag::endForm(); ?>
		</div>
		<div class="col"></div>
	</div>
</div>
