<?php 
use Phalcon\Tag;
?>

<div class="login-or-signup mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col text-center"><?php echo $this->flashSession->output(); ?></div>
        <div class="col "></div>

    </div>
    <div class="row">
    	<div class="col"></div>
        <div class="col-3">
            <div class="page-header">
                <h2>Log in to my heart</h2>
            </div>
            <?= Tag::form([
			    	'/login/validate', 
			    	'method' => 'post'
				]); ?>
				<fieldset>
					<label class="control-label" for="user_email">
						Email
					</label>
					<div class="form-group">
	                    <?= Tag::emailField([
		                        'user_email',
		                        'size' => 45,
		                        'class' => "form-control",
	                    	]) ?>
	                </div>

	                <label class="control-label" for="user_password">
						P*ssw*rd
					</label>
					<div class="form-group">
	                    <?= Tag::passwordField([
		                        'user_password',
		                        'class' => "form-control",
	                    	]) ?>
	                </div>
	                <?= Tag::submitButton([
	                		'name' => 'submit_login', 
	                		'value' => 'Login', 
	                		'class' => 'btn btn-primary w-100'
	                	]) ?>
				</fieldset>
			<?= Tag::endForm(); ?>
        </div>

        <div class="col-4">
            <div class="page-header">
                <h2>Don't have an account yet?</h2>
            </div>

            <p>Create an account offers the following advantages:</p>
            <div class="clearfix center">
                <?= Tag::linkTo([
	                    '/account/register', // nếu router(false) => bắt buộc điền router
	                    'Sign Up',
	                    'class' => 'btn btn-primary btn-large btn-success w-100',
	                ]) ?>
            </div>
            <ul>
                <li>Create, track and export your invoices online</li>
                <li>Gain critical insights into how your business is doing</li>
                <li>Stay informed about promotions and special packages</li>
            </ul>
        </div>
        <div class="col"></div>

    </div>
</div>