<div class="page-title">
    <div class="title_left">
        <h3>Tool Check Language</h3>
    </div>
</div>
<form class="searchForm" name="form-language" method="post" action="">
    <?php $keyword = $this->dispatcher->getParam("txtSearch");
    ?>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row ">
                        <h2>Table</h2>
                        <div class="col-md-2">
                            <select class="form-control <?php echo isset($msg_table) ? 'border-red' : '';?>" name="slcTable" id="slcTable">
                                <option value="">Select a Table </option>
                                <?php echo isset($strTable)? $strTable : ''?>
                            </select>
                            <p class="text-danger msg-table"><?php echo isset($msg_table) ? $msg_table : "";?></p>
                        </div>
                        <h2>Language</h2>
                        <div class="col-md-2">
                            <select class="form-control <?php echo isset($msg_lang) ? 'border-red' : '';?>" name="slcLanguage" id="slcLanguage">
                                <option value="">Select a Language </option>
                                <?php echo isset($strLanguage)? $strLanguage : ''?>
                            </select>
                            <p class="text-danger msg-lang"><?php echo isset($msg_lang) ? $msg_lang : "";?></p>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" name="search" class="btn btn-success">Check</button>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h2>ID not translated</h2>
                     <?php foreach ($result as $item){
                         echo $item['id'].', ';
                     }
                     ?>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $( document ).ready(function() {
        $('form[name=form-language]').submit(function(event) {
            var valid = true;
            if($('#slcTable').val() == '') {
                $('.msg-table').text('Table field is required.');
                $('#slcTable').addClass("border-red");
                valid = false;
            } else {
                $('.msg-table').text('');
                $('#slcTable').removeClass("border-red");
            }
            if($('#slcLanguage').val() == '') {
                $('.msg-lang').text('Language field is required.');
                $('#slcLanguage').addClass("border-red");
                valid = false;
            }  else {
                $('.msg-lang').text('');
                $('#slcLanguage').removeClass("border-red");
            }
            if( ! valid ) event.preventDefault();
            if( valid ) {
                $('button[name=search]').prop('disabled', true);
            }
        });
    });

</script>
