<!DOCTYPE html>
<html>
<?php $this->partial('shared/header', [ 'title_site' => 'Site of me']); ?>
    <body>
    <?php
        if($this->session->has("human_Auth"))
        {
            $this->partial('shared/nav-menu', $menu);
        }
    ?>
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
    <?php $this->partial('shared/footer'); ?>
    </body>
</html>
